--indent 4
--linebreaks lf
--allman false
--wraparguments before-first
--wrapelements before-first
--self insert
--header strip
--binarygrouping 4,8
--decimalgrouping 3,6
--hexliteralcase uppercase
--ranges spaced
--trimwhitespace always
--commas inline
--comments indent
--ifdef indent
--indentcase true
--indentstrings false
--maxwidth 120
--varattributes same-line
--funcattributes same-line
--typeattributes same-line
--closingparen same-line
--elseposition same-line
--guardelse same-line
--patternlet hoist
--redundanttype inferred 